.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-shadow: 0px 2px 4px black; */
    /* background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ), */
      background: linear-gradient(to right, #e3e8eb, #d4e3e7, #b7ddee);
      /* url("https://i.pinimg.com/736x/4f/96/1d/4f961dac467855fe2ad7bc042d34809b.jpg");
    background-size: cover; */
  }
  
  .loginTitle {
    font-size: 50px;
  }
  
  .loginForm {
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.89);
    padding: 15px 40px;
    margin: 10px;
    margin-top: 20px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  
  .loginForm > label {
    margin: 10px 0;
    font-size: 17px;
    font-weight: 600;
  }
  
  .loginInput {
    padding: 10px;
    background-color: silver;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #1873fc;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(252, 173, 173);
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1873fc;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }